@tailwind base;
@tailwind components;
@tailwind utilities;

.buttons {
    @apply px-8 py-3 bg-color1 border border-transparent hover:border-white hover:bg-transparent duration-500 text-white;
}

.button {
    @apply px-8 py-3 bg-color2 border text-white border-transparent hover:border-black hover:bg-white duration-500 hover:text-black;
}

.form-input {
    @apply border border-gray-400 bg-gray-100 outline-none mb-6 py-2 pl-3 rounded-none w-full;
}

@media (max-width: 880px) {
    .news {
        display: none;
    }
  }

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    width: 30px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open {
    transform: rotate(90deg);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }