body {
    background-color: #fff;
    font-family: "Roboto", serif;
}
/* logo */
#logo {
    padding-bottom: 100px;
}
#logo img {
    width: 350px;
    position: absolute;     
    top: 10px;                 
    left: 50%;            
    transform: translateX(-50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    background-color: #0c3954;
    color: #fff;
    padding: 10px 10px;
    justify-content: center;
    position: relative;
  }
  
  .navbar-container {
    display: flex;
    flex-direction: column; 
  }

  .navbar-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: center;
  }
  
  .navbar-links li {
    margin: 10px 15px 15px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
  }
  
  .navbar-links a:hover {
    color: #0c3954;
    background-color: #fff;
    border-radius: 2px;
  }
  
  .navbar-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  /* small screens */
  @media (max-width: 900px) {
    .navbar-links {
      display: none;  
      flex-direction: column;
      text-align: center;
      margin-top: 50px;
    }
  
    .navbar {
        padding: 35px 10px;
      }

    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
      position: absolute;
      top: 10px;
      left: 50%;
      height: 40px !important;
      transform: translateX(-50%);
    }
  
    .navbar-links.active ~ .navbar-toggle {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100; 
    }
  }
  